[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GEstimator
Comment=GEstimator is a simple civil estimation software written in Python and GTK+
Exec=gestimator
Icon=${SNAP}/meta/gui/GEstimator.svg
Categories=Office;
