[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GEstimator
Comment=GEstimator is a simple civil estimation software written in Python and GTK+
Exec=gestimator %U
StartupNotify=true
Icon=${SNAP}/meta/gui/icon.svg
Categories=Office;
